autoclip: true
autoimport: true
cliptimeout: 45
exportkeys: false
mime: true
nocolor: false
nopager: false
notifications: false
path: /home/{{ .login }}/.password-store
safecontent: false
mounts:
  private: /home/{{ .login }}/.password-store-private
