[core]
	autoimport = true
	cliptimeout = 45
	exportkeys = true
	nocolor = false
	nopager = false
	notifications = true
	parsing = true

[show]
	safecontent = true
[generate]
	autoclip = true
[mounts]
	path = {{ .chezmoi.homeDir }}/.password-store-private
[mounts "redhat"]
	path = {{ .chezmoi.homeDir }}/.password-store-redhat
[mounts "anapaya"]
	path = {{ .chezmoi.homeDir }}/.password-store-anapaya
[mounts "ethz"]
	path = {{ .chezmoi.homeDir }}/.password-store-ethz
