autoclip: true
autoimport: true
cliptimeout: 45
exportkeys: true
nocolor: false
nopager: false
safecontent: true
notifications: false
{{ if eq .chezmoi.hostname "Matt-MBP" -}}
path: ~/.password-store-private
mounts:
  redhat: ~/.password-store-redhat
{{ else if eq .chezmoi.hostname "Matt-Lenovo" -}}
path: ~/.password-store-redhat
mounts:
  private: ~/.password-store-private
{{- end -}}
