[core]
  autoclip = true
  autoimport = true
  cliptimeout = 45
  exportkeys = true
  nocolor = false
  nopager = false
  notifications = true
  parsing = true
  showsafecontent = true
{{ if eq .chezmoi.hostname "Matt-MBA" -}}
[mounts]
  path = /Users/mko/.password-store-private
[mounts "redhat"]
  path = /Users/mko/.password-store-redhat
{{ else if eq .chezmoi.hostname "Matt-X1C" -}}
[mounts]
  path = ~/.password-store-redhat
[mounts "private"]
  path = ~/.password-store-private
{{- end }}
[show]
	safecontent = true
[generate]
	autoclip = true
