{{- $codespaces:= env "CODESPACES" | not | not -}}
{{- $login:= env "USERNAME" -}}
{{- $uid:= env "UID" -}}
{{- $email := "mateusz@mkowalski.com" -}}
{{- $name := "Mateusz Kowalski" -}}
sourceDir = "{{ .chezmoi.sourceDir }}"

[gpg]
  # ID for your key [C]
  recipient = "0x65FF8D8D347F22F3"

[data]
  codespaces = {{ $codespaces }}
{{- if $codespaces }}{{/* Codespaces dotfiles setup is non-interactive, so set an email address */}}
{{- else }}{{/* Interactive setup, so prompt for an email address */}}
  {{- $name = promptString "name" }}
  {{- $email = promptString "email" }}
{{- end }}
  login = "{{ $login }}"
  uid = "{{ $uid }}"
  email = "{{ $email }}"

  [data.github]
    name = "{{ $name }}"
    email = "{{ $email }}"

  [data.gpgkey]
    # ID for the signing key [S]
    sign = "0x65FF8D8D347F22F3"
    # ID for encrypt key [E]
    encrypt = "0x65FF8D8D347F22F3"

umask = 0o22
