{{ if eq .chezmoi.os "linux" -}}
#!/usr/bin/env bash
{{ else if eq .chezmoi.os "darwin" -}}
{{ end -}}

# Source global definitions
{{ if eq .chezmoi.os "linux" -}}
if [ -f /etc/bashrc ]; then
    . /etc/bashrc
fi
{{ else if eq .chezmoi.os "darwin" -}}
if [ -f /etc/zshrc ]; then
    . /etc/zshrc
fi
{{ end -}}

# Load the shell dotfiles
for file in ~/.bash/*; do
    [ -r "$file" ] && [ -f "$file" ] && source "$file";
done;
unset file;

{{ if eq .chezmoi.os "darwin" -}}
# Load base bash completions
if [ -f $(/opt/homebrew/bin/brew --prefix)/etc/bash_completion ]; then
    . $(brew --prefix)/etc/bash_completion
fi
[[ -r "/usr/local/etc/profile.d/bash_completion.sh" ]] && . "/usr/local/etc/profile.d/bash_completion.sh"

# Load iTerm2 integration
if [ -f ~/.iterm2_shell_integration.bash ]; then
    source ~/.iterm2_shell_integration.bash
fi

{{ else if eq .chezmoi.os "linux" -}}
if [ -f /usr/bin/direnv ]; then
    # Hook with direnv
    eval "$(direnv hook bash)"
fi

[[ -r "/etc/profile.d/bash_completion.sh" ]] && . "/etc/profile.d/bash_completion.sh"
{{ end -}}
