#!/usr/bin/env bash

# Easier navigation: .., ..., ...., ....., ~ and -
alias ..="cd .."
alias ...="cd ../.."
alias ....="cd ../../.."
alias .....="cd ../../../.."
alias -- -="cd -"

# Docker always as root
#alias docker='sudo docker'
#alias docker-compose='sudo docker-compose'
#alias kind='sudo kind'

# Gopass private store ops
alias gopass-private-mount='gopass mounts add private ~/.password-store-private'
alias gopass-private-init='gopass init --path ~/.password-store-private --store private'
alias gopass-private-unmount='gopass mounts rm private'
alias g='gopass'

# Use rsync instead of cp
#alias cp="rsync -avzh --progress"

# Enable aliases to be sudo’ed
alias sudo='sudo '

# Print each PATH entry on a separate line
alias path='echo -e ${PATH//:/\\n}'

# Detect which `ls` flavor is in use
if ls --color > /dev/null 2>&1; then # GNU `ls`
    colorflag="--color"
    export LS_COLORS='no=00:fi=00:di=01;31:ln=01;36:pi=40;33:so=01;35:do=01;35:bd=40;33;01:cd=40;33;01:or=40;31;01:ex=01;32:*.tar=01;31:*.tgz=01;31:*.arj=01;31:*.taz=01;31:*.lzh=01;31:*.zip=01;31:*.z=01;31:*.Z=01;31:*.gz=01;31:*.bz2=01;31:*.deb=01;31:*.rpm=01;31:*.jar=01;31:*.jpg=01;35:*.jpeg=01;35:*.gif=01;35:*.bmp=01;35:*.pbm=01;35:*.pgm=01;35:*.ppm=01;35:*.tga=01;35:*.xbm=01;35:*.xpm=01;35:*.tif=01;35:*.tiff=01;35:*.png=01;35:*.mov=01;35:*.mpg=01;35:*.mpeg=01;35:*.avi=01;35:*.fli=01;35:*.gl=01;35:*.dl=01;35:*.xcf=01;35:*.xwd=01;35:*.ogg=01;35:*.mp3=01;35:*.wav=01;35:'
else # macOS `ls`
    colorflag="-G"
    export LSCOLORS='BxBxhxDxfxhxhxhxhxcxcx'
fi

# List all files colorized in long format
alias l="ls -lF ${colorflag}"
alias ll="ls -lF ${colorflag}"

# List all files colorized in long format, including dot files
alias la="ls -laF ${colorflag}"

# List only directories
alias lsd="ls -lF ${colorflag} | grep --color=never '^d'"

# Always use color output for `ls`
alias ls="command ls ${colorflag}"

{{ if eq .chezmoi.os "linux" -}}
# Tools installed with Flatpak outside toolbox
if ! [ -f /run/.containerenv ] || ! [ -f /run/.toolboxenv ]; then
    #alias code="FLATPAK_ENABLE_SDK_EXT=golang,texlive flatpak run com.visualstudio.code"
    #alias firefox="flatpak run org.mozilla.firefox"
    alias chromium="flatpak run org.chromium.Chromium --use-gl=desktop --enable-features=VaapiVideoDecoder"
    alias thunderbird="flatpak run org.mozilla.Thunderbird"
    alias nextcloud="flatpak run org.nextcloud.Nextcloud"
fi

# Tools not available inside toolbox
if [[ -f /run/.containerenv && -f /run/.toolboxenv ]]; then
    alias podman="flatpak-spawn --host podman"
fi

{{ end -}}

# Youtube Downloader
alias yt-dl='podman run \
               --rm -i \
               -v "$(pwd)":/app:Z \
               -w /app \
               quay.io/mkowalski/youtube-dl:2021.12.17'

# Mosh locale force
alias mosh='LC_ALL="en_US.UTF-8" mosh'
